{% extends './rebase.html' %}

{% block title %}
<title>{{ form.title }}</title>
{% endblock %}

{% block content %}
<form method="POST" action="{% url 'password_reset' %}">
    {% csrf_token %}
    {% if form.errors %}
    <ul class='errorlist'>
        {% for error in form.email.errors %}
        <li><strong style="color: red;">{{ error }}</strong></li>
        {% endfor %}
    </ul>
    {% endif %}
    <p>{{ form.email.label_tag }} {{ form.email }}</p>
    <p>{{ form.email.help_text }}</p>
    <p>Please input your registration email address so we can send a confirmation email to you.</p>
    <input type="submit" value='Send confirmation email'>
</form>
{% endblock %}
