{% extends 'base.html' %}
{% block title %}
My borrowed books
{% endblock %}

{% block content %}
<div class='mybooks'>
{% if book_instances %}
<p><strong>Borrowed books:</strong></p>
<table>
    <tr><th>ID</th><th>Book Title</th><th>Due Back</th></tr>
    {% for book_instance in book_instances %}
    <tr>
        <td>{{ book_instance.pk }}</td><td>{{ book_instance.book.title }}</td><td>{{ book_instance.due_back|date:"SHORT_DATE_FORMAT" }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>You have not borrowed any books.</p>
{% endif %}
</div>
{% endblock %}